@font-face { 
    src: url('../fonts/OpenSans-Regular.woff2') format("woff2"),
         url('../fonts/OpenSans-Regular.woff') format("woff"),
         url('../fonts/OpenSans-Regular.ttf') format("ttf");
    font-family: OpenSans;
    font-weight: Normal;
}

@font-face {
    src: url('../fonts/OpenSans-Bold.woff2') format("woff2"),
         url('../fonts/OpenSans-Bold.woff') format("woff"),
         url('../fonts/OpenSans-Bold.ttf') format("ttf");;
    font-family: OpenSans;
    font-weight: Bold;
}

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
/* ------------S T A R T  Б Л О К  H E A D E R--------------- */
.header {
    position: relative;

    background-color: #666666;

    z-index: 2;
}

.header::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: center center;

    z-index: 1;
}



@media (max-width: 768px) {
    .header::before {
        background: no-repeat url(../img/banner-bg-tablet.jpg);
        background-size: cover;
        background-position: center center;
    }
}

@media (max-width: 360px) {
    .header::before {
        background: no-repeat url(../img/banner-mobile.jpg);
        background-size: cover;
        background-position: center center;
    }
}

.header::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 3;
}

.wraper-header-content {
    position: relative;

    max-width: 1195px;
    padding: 27px 13px 129px;
    margin: 0 auto;

    z-index: 4; 
}

@media (max-width: 768px) {
    .wraper-header-content {
        padding: 50px 34px 129px;
    }
}

@media (max-width: 360px) {
    .wraper-header-content {
        padding: 31px 14px 219px;
    }
}

.wraper-logo-menu {
    position: relative;

    display: flex;
    justify-content: space-between;
    z-index: 2;
}

@media (max-width: 768px) {
    .wraper-logo-menu {
        align-items: center;
    }
}

@media (max-width: 360px) {
    .wraper-logo-menu {
        flex-direction: column;
        justify-content: baseline;
    }
}

@media (max-width: 360px) {
    .logo {
        margin-top: 174px;

        order: 2;
    }
}

.logo-img {
    width: 178px;
}

@media (max-width: 768px) {
    .logo-img {
        width: 157px;
    }
}

@media (max-width: 360px) {
    .logo-img {
        width: 269px;
    }
}

.nav {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .nav {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 360px) {
    .nav {
        align-self: flex-end;
    }
        
}


.icon-burger {
    display: none;
    
    cursor: pointer;
}

@media (max-width: 768px) {
    .icon-burger {
        display: block;
    }
}

.nav-items {
    display: inline-flex;
    gap: 35px;
}

@media (max-width: 768px) {
    .nav-items {
        display: none;
    }
}

.nav-link {
    display: inline-block;
    height: 100%;
    width: 100%;

    font: Normal 13px OpenSans, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.nav-link:hover {
    text-decoration: underline;
}

.wraper-header-title {
    position: relative;

    margin: 100px 0 0 0;

    display: flex;
    justify-content: center;

    z-index: 2;
}

@media (max-width: 360px) {
    .wraper-header-title {
        margin-top: 42px;
    }
}

.header-title {
    font: Bold 45px OpenSans, sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 75px;
    color: #ffffff;

    flex-basis: 733px;
}

@media (max-width: 768px) {
    .header-title {
        font-size: 40px;
        line-height: 55px;
    }
}

@media (max-width: 360px) {
    .header-title {
        font-size: 26px;
        line-height: 36px;
    }
}

/* ------------E N D  Б Л О К  H E A D E R--------------- */



/* --------------------- START БЛОК ТРЕНДЫ ------------------- */

.header-trends {
    display: flex;
    flex-direction: column;
    align-items: center;
                
    padding: 58px 0 27px;
}

@media (max-width: 768px) {
    .header-trends {
        padding: 45px 0 18px;
    }
}

@media (max-width: 360px) {
    .header-trends {
        padding: 41px 0 22px;
    }
}
                
.title-trends {
    font: Bold 20px OpenSans, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
}

@media (max-width: 768px) {
    .title-trends {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    .title-trends {
        font-size: 16px;
    }
}
                
.title-trends::after {
    content: "";

    display: block;
    width: 66px;
    margin: 14px auto 0;

    border-top: 3px solid rgba(181, 159, 91, 0.4);
}
                
.trends {
    display: flex;
    gap: 4px;
}

@media (max-width: 768px) {
    .trends {
        flex-wrap: wrap;
    }
}

@media (max-width: 360px) {
    .trends {
        flex-direction: column;
    }
}
                
.trends-card {
    position: relative;

    min-height: 320px;
    padding: 0 20px 16px;
    box-sizing: border-box;

    background-color: #666666;
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: end;
    width: 25%;

    z-index: 1;
}

@media (max-width: 768px) {
    .trends-card {
        min-height: 247px;
        width: calc(50% - 4px);
    }
}

@media (max-width: 360px) {
    .trends-card {
        min-height: 233px;
        width: 100%;
        padding: 0 15px 15px;
    }
}

.trends-card::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  

    display: inline-block;

    background: rgba(0, 0, 0, 0.6);

    z-index: 2;
}

.trends-card1 {
    background-image: url(../img/trend1.jpg);
}

.trends-card2 {
    background-image: url(../img/trend2.jpg);
}

.trends-card3 {
    background-image: url(../img/trend3.jpg);
}

.trends-card4 {
    background-image: url(../img/trend4.jpg);
}

.wr-text-trend {
    padding: 39px 33px 36px;
    box-sizing: border-box;

    border: 3px solid rgba(181, 159, 91, 0.6);

    z-index: 3;
}

@media (max-width: 768px) {
    .wr-text-trend {
        padding: 34px 31px 29px;
    }
}

@media (max-width: 360px) {
    .wr-text-trend {
        padding: 32px 20px 27px;
    }
}

.wr-tag-trends {
    display: flex;
    gap: 18px;
}
                
.link-tag-trends {
    font: Bold 14px OpenSans, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
                
    color: rgb(181, 159, 91);
                
    cursor: pointer;
}
                
.link-tag-trends:hover {
    text-decoration: underline;
}
                
.text-trends {
    font: Bold 20px OpenSans, sans-serif;
    text-transform: uppercase;
    line-height: 24px;
                
    color: #ffffff;
                
    cursor: pointer;
}

@media (max-width: 768px) {
    .text-trends {
        font-size: 17px;
        line-height: 22px;
    }
}

@media (max-width: 360px) {
    .text-trends {
        font-size: 16px;
        line-height: 20px;
    }
}
                
.text-trends:hover {
    color: #b59f5b;
}
                
/*----------------------------- END БЛОК ТРЕНДЫ -----------------*/



/* ------------S T A R T  Б Л О К  C O N T E N T--------------- */

                    /* ------------БЛОК M A I N-------------- */


                     
.wraper-content {
    max-width: 1195px;
    padding: 63px 13px 0;
    margin: 0 auto;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between; 
}

@media (max-width: 768px) {
    .wraper-content {
        padding-top: 49px;
    }
}

@media (max-width: 360px) {
    .wraper-content {
        padding-top: 44px;

        flex-direction: column;
        justify-content: center;

    }
}

.main {
    width: calc(100% - 26px - 272px);

    display: flex;
    flex-direction: column;
    gap: 58.5px; 
}

@media (max-width: 768px) {
    .main {
        gap: 41px;
    }
}

@media (max-width: 360px) {
    .main {
        width: 100%;
        gap: 33px;
    }
}




                /* START БЛОК НОВОСТИ*/
.wr-content-news {
    display: flex;
    gap: 30px;

    box-sizing: border-box;
}

@media (max-width: 768px) {
    .wr-content-news {
        flex-direction: column;
        gap: 15px;
    }
}

.img-news {
    width: 379px;
}

@media (max-width: 768px) {
    .img-news {
        width: 88%;
    }

    .wr-text-news {
        width: 88%;
        margin-top: 12px;
        padding-bottom: 21px;
        box-sizing: border-box;

        border-bottom: 4px solid #eeeeee;
    }

    .not-under-line {
        border-bottom: 0;
    }
}

@media (max-width: 360px) {
    .img-news {
        width: 100%;
    }

    .wr-text-news {
        width: 100%;
        margin-top: 16px;
    }

    .not-under-line {
        border-bottom: 4px solid #eeeeee;
    }
}

.wr-tag {
    margin: -3px 0 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 19px;
}

.wr-tag a {
    display: inline-block;
    width: 100%;
    height: 100%;

    font: Bold 14px OpenSans, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #b59f5b;

    cursor: pointer;
}

.wr-tag a:hover {
    text-decoration: underline;
}

.title-news {
    margin: 3px 0 0 0;
}

@media (max-width: 768px) {
    .title-news {
        margin: 13px 0 0 0;
    }
}

@media (max-width: 360px) {
    .title-news {
        margin: 15px 0 0 0;
    }
}

.title-news a {
    font: Bold 20px OpenSans, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0d0e;
}

@media (max-width: 768px) {
    .title-news a {
        font-size: 17px;
    }
}

@media (max-width: 360px) {
    .title-news a {
        font-size: 16px;
    }
}

.title-news a:hover {
    color: #b59f5b;
}

.wr-date-author {
    margin: 26px 0 0 0;
}

@media (max-width: 768px) {
    .wr-date-author {
        margin: 39px 0 0 0;
    }
}

@media (max-width: 360px) {
    .wr-date-author {
        margin: 24px 0 0 0;
    }
}

.date-news {
    font: normal 12px OpenSans, sans-serif;
    
    color: #888888;
}

.author {
    margin: 0 0 0 9px;

    font: Bold 12px OpenSans, sans-serif;
}

.text-news {
    margin: 45px 0 0 0;
}

@media (max-width: 768px) {
    .text-news {
        margin: 39px 0 0 0;
    }
}

@media (max-width: 768px) {
    .text-news {
        margin: 20px 0 0 0;
    }
}

.text-news p {
    font: normal 15px OpenSans, sans-serif;
    line-height: 22px;
    color: #0f0d0e;
}

@media (max-width: 360px) {
    .text-news p {
        font-size: 14px;
        line-height: 20px;
    }
}

.second-paragraph {
    margin: 10px 0 0 0;
}

        /* END БЛОК НОВОСТИ*/


                    /* -----------Б Л О К  A S I D E--------------- */

.sidebar {
    min-width: 272px; /* Ширина задана таким образом, т.к. во flex свойство width срабатывает аналогично flex-basis */
    max-width: 273px; /* и при сужении окна браузера, контейнер тоже сужается */

    display: flex;
    flex-direction: column;
    gap: 53px; 
}

@media (max-width: 360px) {
    .sidebar {
        min-width: 0;
        max-width: 100%;
        margin-top: 44px;

        gap: 44px;
    }
}

@media (max-width: 360px) {
    .new-posts {
        padding-bottom: 15px;
    }
}

.header-new-posts {
    margin: -4px 0 0 4px;
}

.titles-new-posts {     /* ОБЩИЙ КЛАСС ДЛЯ ВСЕХ ЗАГОЛОВКОВ  В ASIDE */
    font: Bold 14px OpenSans, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;

    text-align: center;
}

@media (max-width: 360px) {
    .titles-new-posts {
        font-size: 16px;
    }
}

.titles-new-posts:after {
    content: "";
    display: block;
    height: 3px;
    width: 66px;
    margin: 11px auto 28px;

    background: rgb(181, 159, 91);
}

@media (max-width: 360px) {
    .titles-new-posts:after {
        margin-bottom: 23px;
    }
}

.wr-new-post {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media (max-width: 360px) {
    .wr-new-post {
        gap: 22px;
    }
}

.new-post {
    display: flex;
    gap: 19px;
}

.img-new-post {
    width: 71px;
}

.wr-text-post {
    margin: -8px 0 0 0;
}

.date-new-post {
    font: normal 12px OpenSans, sans-serif;
    
    color: #888888;
}

.title-post {
    margin: 2px 0 0 0;
}

.title-post-link {
    font: Bold 14px OpenSans, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
    color: #000000;
}

.title-post-link:hover {
    color: #b59f5b;
}

                /* Ф О Р М А  П О И С К А */

.wr-search {
    position: relative;
}

.form-search {
    position: relative;

    display: flex;
}

.input-search {
    width: 100%;
    padding: 0 0 0 18px;
    box-sizing: border-box;

    font: normal 13px OpenSans, sans-serif;
    color: rgba(0, 0, 0, 0.54);

    border: none;
    background: #f3f7f5;
}

.input-search:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.button-search {
    position: relative;

    height: 48px;
    width: 60px;

    border: none;
    background: #b59f5b;
    
    cursor: pointer;
}

.button-search:hover {
    background: #313131;
}

.button-search-img {
    width: 18px;

    object-position: center;
}

                    /* Б Л О К  M A I L I N G */

.mailing {
    position: relative;
}                    

.header-mailing {
    margin: 2px 0 0 -6px;
}

.form-mailing {
    position: relative;

    margin: -5px 0 0 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-mailing-form {
    height: 48px;
    padding: 0 0 0 19px;
    box-sizing: border-box;

    font: normal 13px OpenSans, sans-serif;
    color: rgba(0, 0, 0, 0.54);

    border: none;
    background: #f3f7f5;
}

.input-mailing-form:focus {
    outline: none;
    border: 1px solid #b59f5b;
}

.button-mailing-form {
    height: 48px;
    box-sizing: border-box;

    font: Bold 14px OpenSans, sans-serif;
    text-transform: uppercase;
    color: #ffffff;

    border: none;
    background: #b59f5b;

    cursor: pointer;
}

.button-mailing-form:hover {
    background: #313131;
}
                /* Б Л О К  Т Е Г И  */

.tags {
    position: relative;

    margin: 4px 0 0 0;
}

.list-tags {
    margin: -4px 0 0 0;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    padding: 3px 14px;
    box-sizing: border-box;

    border: 3px solid #eeeeee;

    cursor: pointer;
}

.tag:hover {
    border: 3px solid #b59f5b;
}

.tag-link {
    display: inline-block;
    width: 100%;
    height: 100%;

    font: Bold 12px OpenSans, sans-serif;

    color: #0f0d0e;
    text-decoration: none;
    text-transform: uppercase;
}
 
                /* Б Л О К  Т Е М Ы */

.header-categories {
    margin: 3px 0 0 4px;
}

.list-categories {
    margin: -17px 0 0 2px;
}

.categories-item {
    position: relative;

    border-bottom: 1px solid #ededed;
}

.categories-link {
    font: Bold 14px OpenSans, sans-serif;
    line-height: 46px;

    text-decoration: none;
    color: #000000;
}

.categories-link:hover {
    color: #b59f5b;
}

.amount {
    position: absolute;
    top: 10px;

    margin: 0 0 0 2px;

    font: Bold 14px OpenSans, sans-serif; 

    color: #b59f5b; 
}



/* ------------E N D  Б Л О К  C O N T E N T--------------- */



/* ------------------- START БЛОК PRODUCT -------------------- */

.wr-product {
    max-width: 1195px;
    margin: 64px auto 0;
    padding: 0 13px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .wr-product {
        margin-top: 44px;
    }
}

.header-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-product {
    font: Bold 20px OpenSans, sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
}

@media (max-width: 768px) {
    .title-product {
        font-size: 18px;
    }
}

.title-product::after {
    content: "";

    display: block;
    width: 66px;
    margin: 14px auto 0;

    border-top: 3px solid rgba(181, 159, 91, 0.4);
}

.wr-product-cards {
    margin-top: 28px;
    box-sizing: border-box;

    display: flex;
    gap: 66px;
}

@media (max-width: 768px) {
    .wr-product-cards {
        flex-wrap: wrap;
        gap: 21px;
    }
}

@media (max-width: 360px) {
    .wr-product-cards {
        flex-direction: column;
        gap: 25px;
    }
}
                    
.product-card {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    width: 33.333%;
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - 21px);
    }
}

@media (max-width: 360px) {
    .product-card {
        width: 100%;
    }
}

.wr-img-card {
    display: flex;
    justify-content: center;

    overflow: hidden;
}

.wr-text-product-card {
    min-height: 294px;
    box-sizing: border-box;
    padding: 57px 22px 0;
    margin-top: -36px;

    border: 3px solid rgba(181, 159, 91, 0.6);
}

.title-product-card {
    font: Bold 20px OpenSans, sans-serif;
    text-transform: uppercase;
    line-height: 24px;
}

@media (max-width: 768px) {
    .title-product-card {
        font-size: 17px;
    }
}

.text-product-card {
    font: Normal 15px OpenSans, sans-serif;
    line-height: 22px;
}

.text-product-card-color {
    color: #b59f5b;

    cursor: pointer;
}

.text-product-card-color:hover {
    text-decoration: underline;
}

.footer-product-card {
    margin-top: 23px;

    display: flex;
    justify-content: space-between;
}

.wr-price-product {
    padding: 8px 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.old-price {
    display: flex;
    gap: 5px;

    font: Bold 14px OpenSans, sans-serif;
    text-decoration: line-through;
}

.new-price {
    display: flex;
    gap: 5px;

    font: Bold 20px OpenSans, sans-serif;
}

.button-to-shop {
    width: 140px;
    padding: 19px 0;

    font: Bold 14px OpenSans, sans-serif;
    text-transform: uppercase;

    border: none;
    background: #b59f5b;
    color: #ffffff;

    cursor: pointer;
}

.button-to-shop:hover {
    background: #323232;
}


/* ------------------- END БЛОК PRODUCT -------------------- */




/* ------------S T A R T  Б Л О К  F O O T E R--------------- */



.footer {
    max-width: 1195px;
    margin: 64px auto 0;
    padding: 0 13px 43px;
}

@media (max-width: 768px) {
    .footer {
        margin-top: 50px;
        padding-bottom: 36px;
    }
}

@media (max-width: 360px) {
    .footer {
        padding-bottom: 46px;
    }
}

.wr-footer {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media (max-width: 768px) {
    .wr-footer {
        gap: 50px;
    }
}

.wr-social-icons {
    padding: 27px 0 27px;

    background: #f4f7f6;

    display: flex;
    justify-content: center;
}

.list-sicial-icons {
    margin: -3px 0 0 0;

    display: flex;
    justify-content: center;
}

.pinterest {
    margin-left: 75px;
}

.tumbir {
    margin-left: 65px;
}

.link-social-icons {
    position: relative;

    display: inline-block;
    width: 25px;
    height: 25px;

    background-position: center center;
    background-size: cover;
}

.link-twitter {
    background: no-repeat url(../svg/001-dribbble.svg);
}

.link-pinterest {
    background: no-repeat url(../svg/001-pinterest.svg);
}

.link-tumbir {
    background: no-repeat url(../svg/003-tumblr.svg);
}

.wr-copyright {
    margin-left: 7px;

    display: flex;
    justify-content: center; 
}

.link-copyright {
    font: Bold 12px OpenSans, sans-serif;
    text-decoration: none;

    color: #999999; 
}

/* ------------E N D  Б Л О К  F O O T E R--------------- */



/* ------------START Б Л О К  P O P U P--------------- */

            /*   ( правило для скрытия в конце блока )   */

.fon-popup {
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;

    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wr-popup {
    position: relative;

    width: 390px;
    box-sizing: border-box;

    background: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 360px) {
    .wr-popup {
        width: 330px;
    }
}

.wr-popup::before {
    content: "";

    position: absolute;
    top: -26px;
    right: -3px;

    display: block;
    width: 18px;
    height: 18px;

    background: no-repeat url(../svg/form-x.svg);

    cursor: pointer;
}

@media (max-width: 768px) {
    .wr-popup::before {
        top: -36px;

        width: 27px;
        height: 27px;
    }
}

.header-feedback {
    margin-top: 54px;
}

@media (max-width: 360px) {
    .header-feedback {
        margin-top: 29px;
    }
}

.title-feedback {
    font: Bold 20px OpenSans, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 360px) {
    .title-feedback {
        font-size: 18px;
    }
}

.title-feedback::after {
    content: "";

    display: block;
    width: 66px;
    margin: 9px auto 0;
    
    border-top: 3px solid rgba(181, 159, 91, 0.4);
}

.wr-form-feedback {
    margin-top: 28px;
}

.form-feedback {
    width: 342px;
    padding-bottom: 54px;

    font: Normal 13px OpenSans, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .form-feedback {
        width: 330px;
    }
}

@media (max-width: 360px) {
    .form-feedback {
        width: 280px;
        padding-bottom: 30px;
    }
}


                
            /* --------------- Как часто посещаете наш сайт*/
.regularity-visits-feedback {
    width: 100%;
    height: 47px;
    margin-top: 12px;
    padding-left: 19px;

    background-color: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 17px auto;
    background-position: center right 27px;
    border: none;
    color: rgba(0, 0, 0, 0.54);

    appearance: none;
}

.regularity-visits-feedback:focus {
    outline: 1px solid #b59f5b;
}


            /* --------------- Вы подписаны на рассылку*/
.wr-subscription-feedback {
    margin-top: 32px;
}

.wr-content-subscription-feedback {
    margin-top: 9px;

    display: flex;
    gap: 15px;
}

.subscription-feedback {
    display: none;
}

.label-subscription-feedback {
    cursor: pointer;
}

.label-subscription-feedback::before {
    content: "";

    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;

    vertical-align: middle;

    background: no-repeat url(../svg/form-empty-circle.svg);
    background-size: 20px 20px;

    cursor: pointer;
}

@media (max-width: 768px) {
    .label-subscription-feedback::before {
        width: 27px;
        height: 27px;
    }
}

.subscription-feedback:checked + .label-subscription-feedback::before {
    background: no-repeat url(../svg/form-circle.svg);
    background-size: 20px 20px;
}

@media (max-width: 768px) {
    .subscription-feedback:checked + .label-subscription-feedback::before {
        background: no-repeat url(../svg/form-circle.svg);
        background-size: 27px 27px;
    }
}

            /* --------------- Какой контент вы хотели бы видеть*/
.wr-wishes-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;

    margin-top: 33px;
}

.wishes-text {
    max-width: 342px;
    min-width: 341px;
    max-height: 132px;
    min-height: 132px;
    box-sizing: border-box;
    padding: 21px;

    color: rgba(0, 0, 0, 0.54);
    background-color: #f4f7f6;

    resize: none;
    border: none;
    appearance: none;
}

@media (max-width: 360px) {
    .wishes-text {
        max-width: 280px;
        min-width: 279px;
    }
}

.wishes-text:focus {
    outline: 1px solid #b59f5b;
}

            /* --------------- Кнопка отправить фидбек*/
.wr-button-feedback {
    margin-top: 26px;
}

.button-feedback {
    width: 100%;
    height: 49px;

    font: Bold 14px OpenSans, sans-serif;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #b59f5b;
    border: none;

    cursor: pointer;
}

.button-feedback:hover {
    background: #323232;
}

                /*------------ скрыть popup*/
.fon-popup-hidden {  
    display: none;
}

/* ------------E N D  Б Л О К  P O P U P--------------- */




/* -------------------- V I S U A L L Y - H I D D E N ------------------ */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px; 
    margin: -1px;
    padding: 0;

    border: 0;
    clip: rect(0 0 0 0);

    overflow: hidden;
}